@{
    ViewBag.Title = "Edit";
}

<h2>Edicion de Usuario</h2>
@model MyBoxSale.Models.Local.UsuarioView
@using (Html.BeginForm("Edit", "Usuario", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    @Html.HiddenFor(x=>x.Id)
    <div class="form-group">
        @Html.LabelFor(x=>x.Nombre)
        @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(x=>x.Apellidos)
        @Html.TextBoxFor(x => x.Apellidos, new { @class = "form-control" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(x=>x.Direccion)
        @Html.TextBoxFor(x => x.Direccion, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x=>x.Telefono)
        @Html.TextBoxFor(x => x.Telefono, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x=>x.NombreUsuario)
        @Html.TextBoxFor(x => x.NombreUsuario, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x=>x.Password)
        @Html.TextBoxFor(x => x.Password, new { @class = "form-control",@type="password" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(x=>x.Empresa)
        @Html.TextBoxFor(x => x.Empresa.Nombre, new { @class = "form-control",@disabled="disabled" })
    </div>
    <button class="btn btn-danger" type="submit">Guardar</button>
}
