@{
    ViewBag.Title = "Index";
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>SKU</th>
            <th>Nombre</th>
            <th>Existencia</th>
            <th>Precio de Compra</th>
            <th>Precio Mostrador</th>
            <th>Categoría</th>
            <th>Stock Minimo</th>
            <th>Unidad de Medida</th>
            <th>Proveedor</th>
            <th>Imagen</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var producto in Model)
            {
            <tr>
                <td>@producto.SKU</td>
                <td>@producto.Nombre</td>
                <td>@producto.Existencia</td>
                <td>@producto.PrecioCompra</td>
                <td>@producto.PrecioMostrador</td>
                <td>@(@producto.CATEGORIA!=null?producto.CATEGORIA.Nombre:"")</td>
                <td>@producto.StockMin</td>
                <td>@(producto.UNIDADMEDIDA!=null?producto.UNIDADMEDIDA.Nombre:"")</td>
                <td>@(producto.PROVEEDOR!=null?producto.PROVEEDOR.Nombre:"")</td>
                <td><img src="./Images/Productos/@producto.Imagen" class="img-responsive img-rounded" /></td>
                <td><a href="@Url.Action("Delete", "Producto", new { id =producto.Id })">Eliminar</a>
                <a href="@Url.Action("Edit", "Producto", new { id =producto.Id })">Editar</a></td>
            </tr>
            }
        }
    </tbody>
</table>
<a href="@Url.Action("NuevoProducto", "Producto", null)"><span class="glyphicon glyphicon-plus"></span> Nuevo Producto</a>