@model MyBoxSale.Models.CATEGORIA

@{
    ViewBag.Title = "Nueva Categoria";
}

<h2>Nueva Categoria</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre)
            @Html.EditorFor(model => model.Nombre, new {@class="form-control" })
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>
            <input type="submit" value="Guardar" class="btn btn-danger"/>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
