@{
    ViewBag.Title = "Index";
    
}
@model MyBoxSale.Models.EMPRESA

@Scripts.Render("~/bundles/Empresa")

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $("body").Empresa();
    });
</script>


<div class="col-md-12 header-empresa">
    <div class="alert text-center">
        Para iniciar debes configurar algunos aspectos, por favor sigue las instrucciones para completar el proceso.
    </div>
</div>

<div class="col-md-6  animated bounceInUp">
    <h2 class="header text-center">Bienvenido</h2>
</div>
<div class="col-md-6  animated bounceInUp">
    <div class="row">
        <div class="col-md-10 col-sm-10 form-empresa-container">
            @using (Html.BeginForm("CreaEmpresa", "Empresa", FormMethod.Post, new { @id = "FormEmpresa" }))
            {
                @Html.ValidationSummary(false, "", new {@class="text-danger" })
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(x => x.Nombre, new { @class="secondary-header"})
                    @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Direccion, new { @class="secondary-header"})
                    @Html.TextBoxFor(x => x.Direccion, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Telefono, new { @class="secondary-header"})
                    @Html.TextBoxFor(x => x.Telefono, new { @class = "form-control" })
                </div>
                <button type="submit" id="Guardar" name="Guardar" class="btn btn-sale btn-lg">Continuar <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
            }
        </div>
        <div class='col-md-4 col-sm-4'>
        </div>
    </div>
</div>
