@{
    ViewBag.Title = "Index";
    
}
@model MyBoxSale.Models.EMPRESA

@Scripts.Render("~/bundles/Empresa")

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $("body").Empresa();
    });
</script>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2 class="">Bienvenido</h2>
        <div class="alert alert-info">
            Para Iniciar debes configurar algunos aspectos, por favor sigue las instrucciones para completar el proceso.
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-8">
                @using (Html.BeginForm("CreaEmpresa", "Empresa", FormMethod.Post, new { @id = "FormEmpresa" }))
                {
                    @Html.ValidationSummary(false, "", new {@class="text-danger" })
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.LabelFor(x => x.Nombre)
                        @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Direccion)
                        @Html.TextBoxFor(x => x.Direccion, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Telefono)
                        @Html.TextBoxFor(x => x.Telefono, new { @class = "form-control" })
                    </div>
                    <button type="submit" id="Guardar" name="Guardar" class="btn btn-danger btn-lg">Guardar <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
                }
            </div>
            <div class='col-md-4 col-sm-4'>
                <img src="~/Content/img/advertisement.PNG" class="img-responsive" />
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
