@{
    ViewBag.Title = "Index";
}
@model List<MyBoxSale.Models.Local.ProveedorView>
<h2>Proveedores</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Contacto</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var proveedor in Model)
        {
            <tr>
                <td>@proveedor.Nombre</td>
                <td>@proveedor.Telefono</td>
                <td>@proveedor.ContactoProveedor</td>
                <td>@Html.CheckBox("Activo", proveedor.Activo.HasValue ? proveedor.Activo.Value : false, new { @disabled="disabled" })</td>
                <td>
                    <a href="@Url.Action("Editar", "Proveedor", new { id=proveedor.Id })">Modificar</a>&nbsp;
                    <a href="@Url.Action("Desactivar","Proveedor",new { id=proveedor.Id })">@(proveedor.Activo.HasValue && proveedor.Activo.Value?"Desactivar":"Activar")</a>&nbsp;
                    <a href="@Url.Action("Eliminar","Proveedor",new { id=proveedor.Id })">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Nuevo Proveedor","NuevoProveedor","Proveedor")
